.recommendedvideos {
  flex: 0.8;
  padding: 40px 20px;
  padding-bottom: 0;
  background-color: rgb(247, 241, 241);
}
.recommendedvideos {
  margin-left: 5px;
  margin-bottom: 20px;
}
.recommendedvideos__videos {
  display: flex;
  flex-wrap: wrap;
}
